* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
 
}

.container {
  background-image: url('./backgroung.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
  border-radius: 10px;
  width: 700px;
  height: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0 20px;
}
.container .log-in,
.container .text {
  flex: 1;
}
.container .log-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: transparent;
  backdrop-filter: blur(8px);
  /* making transparent blur so we can see the bg part */
  border-radius: 10px;
  padding: 40px 20px;
}
.container .text {
  color: rgb(163, 135, 135);
}
.container .text h2 {
  margin-bottom: 10px;
}
.container .text p {
  margin-bottom: 10px;
  line-height: 20px;
}
.container .text .icon i {
  margin-right: 10px;
  cursor: pointer;
}
.container .input-area {
  position: relative;
  width: 100%;
}
.container label {
  position: absolute;
  transition: transform 0.5s ease;
  top: 20px;
  left: 15px;
  pointer-events: none;
  /* clicking the label will actually click the input behind it. */
}
.input-area input:focus + label,
.input-area input:valid + label {
  /* top: -7px;
  left: 10px; */
  font-weight: bold;
  transform: scale(0.9) translate(2px, -33px);
}

.container .log-in input {
  padding: 10px 20px;
  margin: 10px auto 0;
  border: none;
  width: 100%;
  border-radius: 10px;
  outline: none;
}
.container .log-in button {
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff5f6d, #ffc371);
  /* background-color: #ff5f6d; */
}
.container .log-in button:hover {
  background: transparent;
  border: 1px solid #ff5f6d;
  color: #ff5f6d;
}

@media screen and (max-width: 567px) {
  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-direction: column-reverse;
    /* margin: 20px 10px; */
    padding: 20px 10px;
  }
  .container .log-in,
  .container .text {
    text-align: center;
  }
  .container .log-in {
    width: 80%;
  }
}
